<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Tourism Hotspot App</h1>
    <p class="lead">Coursera Capstone Project</p>
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features</h1>
      <ul  ng-repeat="thing in $ctrl.awesomeThings">
        <h2>{{thing.name}}</h2>
        <li>{{thing.info}}</li>
      </ul>
    </div>
  </div>
</div>
