<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Tourism Hotspot App</h1>
    <p class="lead">Coursera Capstone Project</p>
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  </div>
</header>

<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="place in placesCtrl.places">
                        <div class="media-left media-middle">
                           <img class="media-object img-thumbnail" ng-src={{place.image}} alt={{place.name}}>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{place.name}}</h2>
                            <span class="label label-danger">{{dish.category}}</span>
                            <p>{{place.description}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
