<div>This is the tickets view.</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Tickets</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="ticket in ticketCtrl.tickets">
        <li>{{ticket.place.name}}</li>
        <!--<li><a href="#" uib-tooltip="{{place.description}}">{{place.name}}</a></li>-->
      </ul>
    </div>
  </div>
</div>
